{% macro main(rule, rss_rule) %}
DOMAIN-SUFFIX,rsshub.app,{{ rss_rule }}

DOMAIN-SUFFIX,t66y.com,{{ rule }}
DOMAIN-SUFFIX,tellme.pw,{{ rule }}
DOMAIN-SUFFIX,caribbeancom.com,{{ rule }}
DOMAIN-SUFFIX,airav.wiki,{{ rule }}
DOMAIN-SUFFIX,dlsite.com,{{ rule }}
DOMAIN-SUFFIX,dmm.co.jp,{{ rule }}
DOMAIN-SUFFIX,fc2.com,{{ rule }}
DOMAIN-SUFFIX,fc2club.net,{{ rule }}
DOMAIN-SUFFIX,chinaunicom.com,{{ rule }}
DOMAIN-SUFFIX,javdb.com,{{ rule }}
DOMAIN-SUFFIX,javlibrary.com,{{ rule }}
DOMAIN-SUFFIX,mgstage.com,{{ rule }}
DOMAIN-SUFFIX,amazon.co.jp,{{ rule }}
DOMAIN-SUFFIX,xcity.py,{{ rule }}
DOMAIN-SUFFIX,inoreader.com,{{ rule }}
DOMAIN-SUFFIX,imx.to,{{ rule }}
DOMAIN-SUFFIX,yande.re,{{ rule }}
DOMAIN-SUFFIX,javlibrary.com,{{ rule }}
DOMAIN-SUFFIX,ovkwiz.com,{{ rule }}
DOMAIN-SUFFIX,s3tu.com,{{ rule }}
DOMAIN-SUFFIX,gofrp.org,{{ rule }}
DOMAIN-SUFFIX,ovkwiz.xyz,{{ rule }}
DOMAIN-SUFFIX,imagehaha.com,{{ rule }}
DOMAIN-SUFFIX,gifyu.com,{{ rule }}
DOMAIN-SUFFIX,100024.xyz,{{ rule }}
DOMAIN-SUFFIX,luoimg.xyz,{{ rule }}
DOMAIN-SUFFIX,smmimg.com,{{ rule }}
DOMAIN-SUFFIX,xsimg.xyz,{{ rule }}
DOMAIN-SUFFIX,skuimg.com,{{ rule }}
DOMAIN-SUFFIX,skeimg.com,{{ rule }}
DOMAIN-SUFFIX,imgsto.com,{{ rule }}
DOMAIN-SUFFIX,luoimg.xyz,{{ rule }}
DOMAIN-SUFFIX,imgbox.com,{{ rule }}
DOMAIN-SUFFIX,ovkwiz.xyz,{{ rule }}
DOMAIN-SUFFIX,molunerfinn.com,{{ rule }}
DOMAIN-SUFFIX,henry.wang,{{ rule }}
DOMAIN-SUFFIX,fc2club.net,{{ rule }}
DOMAIN-SUFFIX,flomoapp.com,{{ rule }}
DOMAIN-SUFFIX,roamresearch.com,{{ rule }}
DOMAIN-SUFFIX,marginnote.com,{{ rule }}
DOMAIN-SUFFIX,windows.com,{{ rule }}
DOMAIN,xp.apple.com,{{ rule }}
DOMAIN-SUFFIX,dlsite.com,{{ rule }}
DOMAIN-SUFFIX,javdb30.com,{{ rule }}
DOMAIN-SUFFIX,airav.wiki,{{ rule }}
DOMAIN-SUFFIX,javdb9.com,{{ rule }}
DOMAIN-SUFFIX,javdb9.com,{{ rule }}
DOMAIN-SUFFIX,fc2.com,{{ rule }}
DOMAIN-SUFFIX,fc2.com,{{ rule }}
DOMAIN-SUFFIX,caribbeancom.com,{{ rule }}
DOMAIN-SUFFIX,tellme.pw,{{ rule }}
DOMAIN-SUFFIX,dmm.co.jp,{{ rule }}
DOMAIN-SUFFIX,unsplash.com,{{ rule }}
DOMAIN-SUFFIX,sfx.ms,{{ rule }}
DOMAIN-SUFFIX,freebsd.org,{{ rule }}
DOMAIN-SUFFIX,portchecker.co,{{ rule }}
DOMAIN-SUFFIX,cloudflare-dns.com,{{ rule }}
DOMAIN-SUFFIX,teamviewer.com,{{ rule }}
DOMAIN-SUFFIX,sourceforge.net,{{ rule }}
DOMAIN-SUFFIX,m-team.cc,{{ rule }}
DOMAIN-SUFFIX,fau.de,{{ rule }}
DOMAIN-SUFFIX,javbus.com,{{ rule }}
DOMAIN-SUFFIX,fc2ppv.tv,{{ rule }}
DOMAIN-SUFFIX,gamekegs.com,{{ rule }}
DOMAIN-SUFFIX,synology.com,{{ rule }}
DOMAIN-SUFFIX,synology.cn,{{ rule }}
DOMAIN-SUFFIX,v2tun.com,{{ rule }}
DOMAIN-SUFFIX,plantuml.com,{{ rule }}
DOMAIN-SUFFIX,javcdn.net,{{ rule }}
DOMAIN-SUFFIX,airav.wiki,{{ rule }}
DOMAIN-SUFFIX,mgstage.com,{{ rule }}
DOMAIN-SUFFIX,hockeyapp.net,{{ rule }}
DOMAIN-SUFFIX,clubhouseapi.com,{{ rule }}
DOMAIN-SUFFIX,dist.marginnote.cn,{{ rule }}
DOMAIN-SUFFIX,sankuai.com,DIRECT
DOMAIN-SUFFIX,tmdb.org,{{ rule }}
DOMAIN-SUFFIX,anidb.net,{{ rule }}
DOMAIN-SUFFIX,fanbus.us,{{ rule }}
DOMAIN-SUFFIX,r18.com,{{ rule }}
DOMAIN-SUFFIX,avsox.website,{{ rule }}
DOMAIN-SUFFIX,groueta.cc,{{ rule }}
DOMAIN-SUFFIX,vox.rocks,{{ rule }}
DOMAIN-SUFFIX,softpedia-secure-download.com,{{ rule }}
DOMAIN-SUFFIX,sendvid.com,{{ rule }}
DOMAIN-SUFFIX,docker.io,{{ rule }}
DOMAIN-SUFFIX,ccp.ovh,{{ rule }}
DOMAIN-SUFFIX,jdbimgs.com,{{ rule }}
DOMAIN-SUFFIX,tiktok.com,{{ rule }}
DOMAIN-SUFFIX,vmware.com,{{ rule }}
DOMAIN-SUFFIX,amazonaws.com,{{ rule }}
DOMAIN-SUFFIX,atl-paas.net,{{ rule }}
DOMAIN-SUFFIX,trafficjunky.net,{{ rule }}
DOMAIN-SUFFIX,phncdn.com,{{ rule }}
DOMAIN-SUFFIX,jellyfin.org,{{ rule }}
DOMAIN-SUFFIX,hoobly.com,{{ rule }}
DOMAIN-SUFFIX,m45e.com,{{ rule }}
DOMAIN-SUFFIX,xcity.jp,{{ rule }}
DOMAIN-SUFFIX,omdbapi.com,{{ rule }}
DOMAIN-SUFFIX,themoviedb.org,{{ rule }}
DOMAIN-SUFFIX,fanart.tv,{{ rule }}
DOMAIN-SUFFIX,media-amazon.com,{{ rule }}
DOMAIN-SUFFIX,imdb.com,{{ rule }}
DOMAIN-SUFFIX,ofdb.de,{{ rule }}
DOMAIN-SUFFIX,nist.gov,{{ rule }}
DOMAIN-SUFFIX,233blog.com,{{ rule }}
DOMAIN-SUFFIX,64clouds.com,{{ rule }}
DOMAIN-SUFFIX,open.cd,{{ rule }}
DOMAIN-SUFFIX,fc2club.com,{{ rule }}
DOMAIN-SUFFIX,jav321.com,{{ rule }}
DOMAIN-SUFFIX,avsox.host,{{ rule }}
DOMAIN-SUFFIX,coverartarchive.org,{{ rule }}
# DOMAIN-SUFFIX,acoustid.org,{{ rule }}
DOMAIN-SUFFIX,musicbrainz.org,{{ rule }}
DOMAIN-SUFFIX,allmusic.com,{{ rule }}
DOMAIN-SUFFIX,sehuatang.net,{{ rule }}
DOMAIN-SUFFIX,cphub.net,{{ rule }}
DOMAIN-SUFFIX,dds2048.net,{{ rule }}
DOMAIN-SUFFIX,macblurayplayer.com,REJECT
DOMAIN-SUFFIX,musicbrainz.osuosl.org,{{ rule }}
DOMAIN-SUFFIX,charlesproxy.com,{{ rule }}
DOMAIN-SUFFIX,challa.co,{{ rule }}
DOMAIN-SUFFIX,wikimatrix.org,{{ rule }}
DOMAIN-SUFFIX,tinymediamanager.org,{{ rule }}
DOMAIN-SUFFIX,mackeeper.com,REJECT
DOMAIN-SUFFIX,atlassian.net,{{ rule }}
DOMAIN-SUFFIX,atlassian.com,{{ rule }}
DOMAIN-SUFFIX,ak5v4wlsvqiz.com,DIRECT
DOMAIN-SUFFIX,javdb4.com,{{ rule }}
DOMAIN-SUFFIX,h0930.com,{{ rule }}
DOMAIN-SUFFIX,dtiserv2.com,{{ rule }}
DOMAIN-SUFFIX,85tube.com,{{ rule }}
DOMAIN-SUFFIX,jable.tv,{{ rule }}
DOMAIN-SUFFIX,netflav.com,{{ rule }}
DOMAIN-SUFFIX,pstmn.io,{{ rule }}
DOMAIN-SUFFIX,youtudo.tv,{{ rule }}
DOMAIN-SUFFIX,appcenter.ms,{{ rule }}
DOMAIN-SUFFIX,appcenter.ms,{{ rule }}
DOMAIN-SUFFIX,digitalcertvalidation.com,{{ rule }}
DOMAIN-SUFFIX,embedly.com,{{ rule }}
DOMAIN-SUFFIX,samnewman.io,{{ rule }}
DOMAIN-SUFFIX,www.mgstage.com,{{ rule }}
DOMAIN-SUFFIX,javdb.com,{{ rule }}
DOMAIN-SUFFIX,subsonic.org,{{ rule }}
DOMAIN-SUFFIX,tvboxnow.com,{{ rule }}
DOMAIN-SUFFIX,avsox.asia,{{ rule }}
DOMAIN-SUFFIX,dl8x.com,{{ rule }}
DOMAIN-SUFFIX,assrt.net,{{ rule }}
DOMAIN-SUFFIX,haorenka.net,{{ rule }}
DOMAIN-SUFFIX,btkitty.com,{{ rule }}
DOMAIN-SUFFIX,typora.io,{{ rule }}
DOMAIN-SUFFIX,sublimetext.com,{{ rule }}
DOMAIN-SUFFIX,cordcloud.org,{{ rule }}
DOMAIN-SUFFIX,cordcloud.online,{{ rule }}
DOMAIN-SUFFIX,emby.media,{{ rule }}
DOMAIN-SUFFIX,sdkman.io,{{ rule }}
DOMAIN-SUFFIX,marginstudy.com,{{ rule }}
DOMAIN-SUFFIX,iterm2.com,{{ rule }}
DOMAIN-SUFFIX,bt.biedian.me,{{ rule }}
DOMAIN-SUFFIX,soucili.net,{{ rule }}
DOMAIN-SUFFIX,zhongzicili.me,{{ rule }}
DOMAIN-SUFFIX,alicili.me,{{ rule }}
DOMAIN-SUFFIX,cilimao.cc,{{ rule }}
DOMAIN-SUFFIX,btkitty.pet,{{ rule }}
DOMAIN-SUFFIX,btdigg.biz,{{ rule }}
DOMAIN-SUFFIX,rarbgprx.org,{{ rule }}
DOMAIN-SUFFIX,nyaa.si,{{ rule }}
DOMAIN-SUFFIX,torrentkitty.tv,{{ rule }}
DOMAIN-SUFFIX,pypi.org,{{ rule }}
DOMAIN-SUFFIX,trust-provider.com,{{ rule }}
DOMAIN-SUFFIX,sectigo.com,{{ rule }}
DOMAIN-SUFFIX,www.diaosisou.net,{{ rule }}
DOMAIN-SUFFIX,thetvdb.com,{{ rule }}
DOMAIN-SUFFIX,devmate.com,{{ rule }}
DOMAIN-SUFFIX,www.russellmyers.com,{{ rule }}
DOMAIN-SUFFIX,pstmn.io,{{ rule }}
DOMAIN-SUFFIX,hdsky.me,{{ rule }}
DOMAIN-SUFFIX,utorrent.com,{{ rule }}
DOMAIN-SUFFIX,pt.m-team.cc,{{ rule }}
DOMAIN-SUFFIX,m-team.cc,{{ rule }}
DOMAIN-SUFFIX,netdna-ssl.com,{{ rule }}
DOMAIN-SUFFIX,plex.tv,{{ rule }}
DOMAIN-SUFFIX,mirroronet.pl,{{ rule }}
DOMAIN-SUFFIX,kodi.tv,{{ rule }}
DOMAIN-SUFFIX,digitaloceanspaces.com,{{ rule }}
DOMAIN-SUFFIX,forum.marginnote.com,{{ rule }}
DOMAIN-SUFFIX,sexinsex.net,{{ rule }}
DOMAIN-SUFFIX,mediaatelier.com,{{ rule }}
DOMAIN-SUFFIX,npr.org,{{ rule }}
DOMAIN-SUFFIX,voanews.com,{{ rule }}
DOMAIN-SUFFIX,studio3t.com,{{ rule }}
DOMAIN-SUFFIX,stairways.com,{{ rule }}
DOMAIN-SUFFIX,fuchsia.dev,{{ rule }}
DOMAIN-SUFFIX,change-vision.com,{{ rule }}
DOMAIN-SUFFIX,githubassets.com,{{ rule }}
DOMAIN-SUFFIX,msecnd.net,{{ rule }}
DOMAIN-SUFFIX,paw.cloud,{{ rule }}
DOMAIN-SUFFIX,bjango.com,{{ rule }}
DOMAIN-SUFFIX,qingg.im,{{ rule }}
DOMAIN-SUFFIX,akamaiedge.net,{{ rule }}
DOMAIN-SUFFIX,apache.org,{{ rule }}
DOMAIN-SUFFIX,cachefly.net,{{ rule }}
DOMAIN-SUFFIX,wikipedia.org,{{ rule }}
DOMAIN-KEYWORD,moxing,{{ rule }}
DOMAIN-SUFFIX,msecnd.net,{{ rule }}
DOMAIN-SUFFIX,cordcloud.cc,{{ rule }}
DOMAIN-SUFFIX,charlesproxy.com,{{ rule }}
DOMAIN-SUFFIX,slack-edge.com,{{ rule }}
DOMAIN-SUFFIX,adobe.com,{{ rule }}
DOMAIN-SUFFIX,moxing.zone,{{ rule }}
DOMAIN-SUFFIX,moxing.fyi,{{ rule }}
DOMAIN-SUFFIX,zeplin.io,{{ rule }}
DOMAIN-SUFFIX,hockeyapp.net,{{ rule }}
DOMAIN-SUFFIX,gradle.org,{{ rule }}
DOMAIN-SUFFIX,azul.com,{{ rule }}
DOMAIN-SUFFIX,pornmd.com,{{ rule }}
DOMAIN-SUFFIX,justgetflux.com,{{ rule }}
DOMAIN-SUFFIX,umu.se,{{ rule }}
DOMAIN-SUFFIX,tampermonkey.net,{{ rule }}
DOMAIN-SUFFIX,fastly.net,{{ rule }}
DOMAIN-SUFFIX,gravatar.com,{{ rule }}
DOMAIN-SUFFIX,oracle.com,{{ rule }}
DOMAIN-SUFFIX,scootersoftware.com,{{ rule }}
DOMAIN-SUFFIX,mysql.com,{{ rule }}
DOMAIN-SUFFIX,334418.net,{{ rule }}
DOMAIN-SUFFIX,mpfuli.co,{{ rule }}
DOMAIN-SUFFIX,ozon.ru,{{ rule }}
DOMAIN-SUFFIX,adlibris.com,{{ rule }}
DOMAIN-SUFFIX,images-amazon.com,{{ rule }}
DOMAIN,fastly.net,{{ rule }}
DOMAIN-SUFFIX,ankiweb.net,{{ rule }}
DOMAIN-SUFFIX,gittee.com,{{ rule }}
DOMAIN,gvt2.com,{{ rule }}
DOMAIN-SUFFIX,amazonaws.com,{{ rule }}
DOMAIN-SUFFIX,08nm.com,{{ rule }}
DOMAIN-SUFFIX,bigbooksearch.com,{{ rule }}
DOMAIN-SUFFIX,overdrive.com,{{ rule }}
DOMAIN-SUFFIX,overdrive.com,{{ rule }}

# openai
DOMAIN-SUFFIX,vimeocdn.com,{{ rule }}
DOMAIN-SUFFIX,hcaptcha.com,{{ rule }}
DOMAIN-SUFFIX,akamaized.net,{{ rule }}
DOMAIN-SUFFIX,googleapis.com,{{ rule }}
DOMAIN-SUFFIX,gstatic.com,{{ rule }}
DOMAIN-SUFFIX,openai.com,{{ rule }}
DOMAIN-SUFFIX,vimeo.com,{{ rule }}
DOMAIN-SUFFIX,googletagmanager.com,{{ rule }}
DOMAIN-SUFFIX,f7tk.com,{{ rule }}
DOMAIN-SUFFIX,doubleclick.net,{{ rule }}
DOMAIN-SUFFIX,google-analytics.com,{{ rule }}
DOMAIN-SUFFIX,ai.com,{{ rule }}


# ------- self def end -------------------
{% endmacro %}
